# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env*.local

# typescript
*.tsbuildinfo

app-example

/backend/
/.cursor/
firestore.rules
/scripts/
package-lock.json
/.vscode/
firebase.json
firebase-debug.log
firebase-export-debug.log
firebase-debug.*
firebase-export-debug.*
firebase.rules
firebase.rules.json
firebase.rules.json.gz
firebase.rules.json.gz.part
firebase.rules.json.gz.part.1
firebase.rules.json.gz.part.2
firebase.rules.json.gz.part.3
firebase.rules.json.gz.part.4
firebase.rules.json.gz.part.5